<div class="modal-open">
    <a class="modal-header"> Adicionar Funcionario </a>
    <form class="modal-body">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text"
                   class="form-control"
                   id="nome"
                   [(ngModel)]="funcionario.nomeCompleto"
                   name="nomeCompleto">
        </div>
        <div class="form-group">
            <label for="estadoCivil">estadoCivil:</label>
            <input type="text"
                   class="form-control"
                   id="estadoCivil"
                   name="estadoCivil"
                   [(ngModel)]="funcionario.estadoCivil">
        </div>
        <div class="form-group">
            <label for="email">email:</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   [(ngModel)]="funcionario.email">
        </div>
        <div class="form-group">
            <label for="phoneNumber">phoneNumber:</label>
            <input type="number"
                   class="form-control"
                   id="phoneNumber"
                   name="telefone"
                   [(ngModel)]="funcionario.phoneNumber">
        </div>
        <div class="form-group">
            <label for="aniversario">aniversario:</label>
            <input type="date"
                   class="form-control"
                   id="aniversario"
                   name="aniversario"
                   [(ngModel)]="funcionario.aniversario">
        </div>
        <div class="form-group">
            <label for="salario">salario:</label>
            <input type="number"
                   class="form-control"
                   id="salario"
                   [(ngModel)]="funcionario.salario"
                   name="salario">
        </div>
        <div class="btn-group-toggle">
            <button class="btn btn-success" type="submit" (click)="adicionarFuncionario()"> Adicionar Funcionario </button>
            <button class="btn btn-danger" type="button" (click)="close()"> Cancelar </button>
        </div>
    </form>
</div>
